<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Strona z oświetleniem</h1>
    <p id="text">światło wyłączone</p><br>
    <!-- <button id="button" class="btn btn-primary">Włącz</button><br><br> -->

    <form id="lightningForm">
        <input type="hidden" name="jsonFile" id="jsonFile" value="lightning">
        <input type="hidden" name="id" id="id" value="1">
        Nazwa przełącznika: <input type="text" name="name" id="name" required><br>
        Status: <input type="text" name="status" id="status" placeholder="on|off" required pattern="on|off"><br><br>
        <button type="submit" id="send">Wyślij</button>
    </form>
    <div id="dane"></div>
</body>
<script>
    /* $("body").on("click", "#button", function(){
        $.ajax({
        url: 'ajax.php',
        type: 'POST',
        data: {'user': 'text'},
        beforeSend: function() {
            console.log("wysyłanie");
        },
        complete: function() {
            console.log("ukończono");
        },
        success: function(response) {
            if($("#button").text() == "Włącz") {
                $("#text").text(response);
                $("#button").text("Wyłącz");
            } else {
                $("#text").text("światło wyłączone");
                $("#button").text("Włącz");
            } 
        },
        error: function() {
            console.log("aha");
        }
    }); 
    }); */
    $("#lightningForm").on("submit", "#send", function(){
        $.ajax({
            url: 'server.php',
            type: 'POST',
            data: $(this).serialize(),
            beforeSend: function() {
                console.log("wysyłanie");
            },
            complete: function() {
                console.log("ukończono");
            },
            success: function(response) {
                $.getJSON('lightning.json', function(json) {
                    var switches = json.switches;
                    var content = "";

                    switches.forEach(function(item)  {
                        content += "<p>" + item.switchID + " " + item.name + " " + item.switchStatus + "</p><br><br>";
                    });
                    $("#dane").html(content);
                })
            },
            error: function() {
                console.log("aha");
            }
        });
    });
    </script>
</html>
