<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Strona z oświetleniem</h1>
    <p id="text">światło wyłączone</p><br>
    <button id="button" class="btn btn-primary">Włącz</button>    
</body>
<script>
    $("body").on("click", "#button", function(){
        $.ajax({
        url: 'ajax.php',
        type: 'POST',
        data: {'user': 'text'},
        beforeSend: function() {
            console.log("wysyłanie");
        },
        complete: function() {
            console.log("ukończono");
        },
        success: function(response) {
            if($("#button").text() == "Włącz") {
                $("#text").text(response);
                $("#button").text("Wyłącz");
            } else {
                $("#text").text("światło wyłączone");
                $("#button").text("Włącz");
            } 
        },
        error: function() {
            console.log("aha");
        }
    });
    });
    
    </script>
</html>
