<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Strona z oświetleniem</h1>
    <p id="text">światło wyłączone</p><br>
    <!-- <button id="button" class="btn btn-primary">Włącz</button><br><br> -->

    <form id="lightningForm" method="post">
        <input type="hidden" name="jsonFile" id="jsonFile" value="lightning">
        <input type="hidden" name="id" id="id" value="1">
        Nazwa przełącznika: <input type="text" name="name" id="name" required><br>
        Status: <input type="text" name="status" id="status" placeholder="on|off" required pattern="on|off"><br><br>
        <button type="submit" id="send">Wyślij</button>
    </form>
    <div id="dane"></div>
</body>
<script>
    /* $("body").on("click", "#button", function(){
        $.ajax({
        url: 'ajax.php',
        type: 'POST',
        data: {'user': 'text'},
        beforeSend: function() {
            console.log("wysyłanie");
        },
        complete: function() {
            console.log("ukończono");
        },
        success: function(response) {
            if($("#button").text() == "Włącz") {
                $("#text").text(response);
                $("#button").text("Wyłącz");
            } else {
                $("#text").text("światło wyłączone");
                $("#button").text("Włącz");
            } 
        },
        error: function() {
            console.log("aha");
        }
    }); 
    }); */
    $("body").delegate("#lightningForm", "submit", function(e){
        $.ajax({
            url: 'server.php',
            type: 'POST',
            data: $("#lightningForm").serialize(),
            beforeSend: function() {
                console.log("wysyłanie");
            },
            complete: function() {
                console.log("ukończono");
            },
            success: function(response) {
                console.log(response);
                const arr = JSON.parse(response);
                var content = "";
                for(i = 1; i <= Object.keys(arr.switches).length; i++) {
                    if(arr.switches[i].switchStatus == "on") {
                        content += "<p>" + arr.switches[i].name + " " + arr.switches[i].switchStatus + " <input type='checkbox' id='"+ i +"' name='checkbox"+ i +"' checked></p><br>";
                    } else {
                        content += "<p>" + arr.switches[i].name + " " + arr.switches[i].switchStatus + " <input type='checkbox' id='"+ i +"' name='checkbox"+ i +"'></p><br>";
                    }
                }
                $("#dane").html(content);
            },
            error: function() {
                console.log("aha");
            }
        });
        e.preventDefault();
    });
    $("body").on("click", "#1", function(e) {
        $.ajax({
            url: 'server2.php',
            type: 'POST',
            beforeSend: function() {
                console.log("wysyłanie");
            },
            complete: function() {
                console.log("ukończono");
            },
            success: function(response) {
                const arr = JSON.parse(response);
                if(arr.switches[1].switchStatus == "on") {
                    $("#1").prop("checked", true);
                } else {
                    $("#1").prop("checked", false);
                }
            },
            error: function() {
                console.log("aha");
            }
        });
        e.preventDefault();
    });
    </script>
</html>
